$yellow: #fffa19;
$red: #E11E38;
$green: #4CE811;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.junbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px);
}


.breadcrumb-item{
	background-color: #A4A2A1;
	color: white;
	width: 100%;
}


footer{
    width: 100%;
    height: 300px;	
	background-color:$yellow;
	
}

.card-hotel{
	flex: 1 150px;
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;	
}


.footer-address-icon{
	padding-right: 10px;
}

.card-hotel{
	flex:1 200px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}